<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1>This Session's Sets</h1>
    <h3>Strategy: <%= @active_tr_sesh_inst.session_strategy.name %></h3>
    <div class="dotted_hr"></div>
    <%= "<h3>0 sets on this session</h3>".html_safe if @all_sets_hash_by_exercise_and_resistance.count == 0 %>

    <% @sesh_sets_hash_by_exercise_resist_additional.each_with_index do |(exercise_resist_additional_array, sets), index| %>
      <%
        exercise_inst = exercise_resist_additional_array[0]
        resist_inst = exercise_resist_additional_array[1]
        additional = exercise_resist_additional_array[2]
        args = {
          exercise_inst: exercise_inst,
          resist_inst: resist_inst,
          additional: additional,
          sets: sets,
          index: index,
          last_set_saved_id: @last_set_saved_id,
        }
        prior_args = args.dup
        prior_args[:sets] = get_sets_last_inactive_sesh_with_exercise(exercise_inst, resist_inst)
        prior_args[:archived] = true
      %>

      <%#= render_session_sets args do |args| %>
      <%# end %>

      <%= render_session_sets(args) %>

      <%= render_session_sets prior_args do |prior_args| %>
      <% end %>

    <% end %>


    <%= link_to new_session_set_path do %>
      <button class="btn btn-xs btn-info sesion_set_add_new_exercise_btn">
        <i class="fas fa-plus-circle"></i> New Exercise
      </button>
    <% end %>
  </div>
</div>






















