<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1>This Session's Sets</h1>
    <h3><%= @active_tr_sesh_inst.session_strategy.name %></h3>
    <div class="dotted_hr"></div>
    <%= "<h3>0 sets on this session</h3>".html_safe if @all_sets_hash_by_exercise.count == 0 %>
    <%# @all_sets_hash_by_exercise.each_with_index do |(exercise_inst, sets), index| %>

      <%# args = { exercise_inst: exercise_inst,
                  sets: sets,
                  index: index,
                  last_set_saved_id: @last_set_saved_id,
                  all_resistance_methods: @all_resistance_methods_hash
                } %>
      <%#= render_session_sets args do |args| %>
      <%# end %>

      <%# prior_args = { exercise_inst: exercise_inst,
                        sets: get_sets_last_inactive_sesh_with_exercise(exercise_inst),
                        index: index,
                        last_set_saved_id: @last_set_saved_id,
                        all_resistance_methods: @all_resistance_methods_hash,
                        archived: true
                      } %>
      <%#= render_prior_session_sets prior_args do |prior_args| %>
      <%# end %>

    <%# end %>


    <% @all_sets_hash_by_exercise_and_resistance.each_with_index do |(exercise_and_resist_inst_array, sets), index| %>
      <%
        exercise_inst = exercise_and_resist_inst_array[0]
        resist_inst = exercise_and_resist_inst_array[1]
        args = {
          exercise_inst: exercise_inst,
          resist_inst: resist_inst,
          sets: sets,
          index: index,
          last_set_saved_id: @last_set_saved_id,
        }
        prior_args = {
          exercise_inst: exercise_inst,
          resist_inst: resist_inst,
          sets: get_sets_last_inactive_sesh_with_exercise(exercise_inst),
          index: index,
          last_set_saved_id: @last_set_saved_id,
          archived: true
        }
      %>

      <%= new_render_session_sets args do |args| %>
      <% end %>

      <%= new_render_prior_session_sets prior_args do |prior_args| %>
      <% end %>



    <% end %>

    <%= link_to new_session_set_path do %>
      <button class="btn btn-xs btn-info sesion_set_add_new_exercise_btn">
        <i class="fas fa-plus-circle"></i> New Exercise
      </button>
    <% end %>
    <%= "<div class=\"total_weight_calculation_reminder\">* Remember: The total weight is calculated including bodyweight when applicable and reductions for the mechanical advantage of machines. This produces a more reliable measure of total weight lifted when comparing different workout sessions.</div>".html_safe if @all_sets_hash_by_exercise.count > 0 %>

  </div>
</div>






















