<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3  col-md-4 col-md-offset-4">
    <h1>Add Set!</h1>
    <%= simple_form_for [@new_session_set], html: { autocomplete: "off" } do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <div class="simple_form_select_arrow"></div>
        <%= f.association :exercise,
                          required: true,
                          input_html: { style: "cursor: pointer;",
                                        onchange: "machineExerciseCheck(#{@all_exercise_json}[this.value],#{@machine_default_select.id})" } %>

        <div id="machine_input_new_session_set">
          <div class="simple_form_select_arrow"></div>
          <%= f.association :machine,
                            selected: @machine_default_select.id,
                            required: true %>
          <% if current_user.role.name == "admin" %>
            <%= link_to new_machine_path do %>
              <button type="button" class="btn btn-primary btn-xs">Machine not listed? Add it here!</button>
            <% end %>
          <% else %>
            <div class="non_admin_machine_message">
              <li>Is the machine you're going to use not listed in the menu?</li>
              <li>Please use the '<span class="contrast_buzzword">Placeholder Machine</span>' as a default.</li>
              <li>Please <%= link_to "contact the admin", "#", class: "contrast_buzzword" %> to have the machine added.</li>
            </div>
          <% end %>
        </div>

        <div class="col-xs-6">
          <%= f.input :weight_kg,
                      required: true %>
        </div>

        <div class="col-xs-6">
          <%= f.input :reps,
                      required: true %>
        </div>

        <%= f.association :training_session,
                    as: :hidden,
                    input_html: {  } %>
      </div>
      <div class="col-xs-12"><hr></div>
      <div class="form-actions col-xs-12">
        <%= f.button :submit, "Save", class: "btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
<script>
  // $(".form-group-invalid").show()
</script>
