    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%if open_session_status[:has_open_sesh?]  %>

            <%= simple_form_for open_session_status[:get_open_sesh_instance], id: "end_training_session_form", data: {confirm: "Are you sure you want to end your training session?"} do |f| %>

              <button class="training_session_start_stop_button" type="submit">
                <i class="fas fa-dumbbell"></i> End Current Sesh!
              </button>
            <% end %>

          <% else %>

            <%= link_to new_training_session_path do %>
                <i class="fas fa-dumbbell"></i> Start New Sesh!
            <% end %>
          <% end %>

        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>

      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_user_registration_path, class: "" do %>
            <i class="fas fa-sign-in-alt"></i> <%= t(".sign_up", default: "Sign up") %>
          <% end %>
        </li>
        <!-- <li><span class="singup_login_navbar_divider">/</span></li> -->
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to new_user_session_path, class: "" do %>
            <i class="fas fa-sign-in-alt"></i> <%= t(".sign_in", default: "Log in") %>
          <% end %>
        </li>

    <% end %>
