<%

copy_block_one = "<span class=\"brand_font\">TR</span><span style=\"font-family: 'Courier New', Courier, monospace;position:relative;bottom: 1px;font-weight:600;\">[G1]</span> is new training workout app that is specifically design for your individualization. No false promises on contrived routines; you train how you like and when you like. <span style=\"font-family: 'Courier New', Courier, monospace;position:relative;bottom: 1px;font-weight:600;\">[G1]</span> is now focused on strength training. Future versions will incorporate cardio and more functional training tactics.".html_safe

copy_block_two = "<span class=\"brand_font\">TR</span><span style=\"font-family: 'Courier New', Courier, monospace;position:relative;bottom: 1px;font-weight:600;\">[G1]</span> is a repository for you to keep track of your sets and reps and provide you with dashboards and matracies to keep your data easy to access. More fun and accurate than a paper workout log, and much more scientifically relevant data points to use when tracking.".html_safe

copy_block_three = "<span class=\"brand_font\">TR</span><span style=\"font-family: 'Courier New', Courier, monospace;position:relative;bottom: 1px;font-weight:600;\">[G1]</span> takes your tracking to a more precise level by using physics based logic and calculations to more accurately represent your data. Using the basic calculations of simple machines in physics, we can start to compare apples and oranges; machines and free weights.".html_safe

copy_block_four = "<span class=\"brand_font\">TR</span><span style=\"font-family: 'Courier New', Courier, monospace;position:relative;bottom: 1px;font-weight:600;\">[G1]</span> is designed for a 'kaizen' approach to training. That through measured KPI's, you'll be able to reliably show a consistant improvement trend. You don't have to break every record, every time to still improve.".html_safe

 %>

<div class="container">

      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="logo_centerer">
          <div style="max-width: 200px;">
            <%= image_tag "logo_and_branding/tr_question_mark_a.svg", style: "" %>
          </div>
        </div>
        <h1>What is <span class="brand_font">TRAINING REPO</span> <span style="font-family: 'Courier New', Courier, monospace; font-size: 22px; position: relative; bottom: 4px;">[Gen-1 beta]?</span></h1>
        <div class="dotted_hr"></div>
      </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="logo_centerer">
        <div style="max-width: 150px;">
        <%= image_tag "logo_and_branding/tr_spiral_with_hand_dumbbell_a.svg", style: "" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 hidden-sm hidden-md hidden-lg hidden-xl pages_about_text_block single_column">
    <%= copy_block_one %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="logo_centerer">
        <div style="max-width: 150px;">
        <%= image_tag "logo_and_branding/tr_spiral_with_tracking_a.svg", style: "" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 hidden-sm hidden-md hidden-lg hidden-xl pages_about_text_block single_column">
    <%= copy_block_two %>
  </div>

  <div class="row hidden-md hidden-lg hidden-xl hidden-xs">
    <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-md hidden-lg hidden-xl pages_about_text_block double_column">
      <%= copy_block_one %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-md hidden-lg hidden-xl pages_about_text_block double_column">
      <%= copy_block_two %>
    </div>

  </div>
    <!-- small size screens -->

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="logo_centerer">
        <div style="max-width: 150px;">
        <%= image_tag "logo_and_branding/tr_spiral_with_physics_a.svg", style: "" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 hidden-sm hidden-md hidden-lg hidden-xl pages_about_text_block single_column">
    <%= copy_block_three %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="logo_centerer">
        <div style="max-width: 150px;">
        <%= image_tag "logo_and_branding/tr_spiral_with_upward_trend_a.svg", style: "" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 hidden-sm hidden-md hidden-lg hidden-xl pages_about_text_block ">
    <%= copy_block_four %>
  </div>


  <div class="row hidden-md hidden-lg hidden-xl hidden-xs">
    <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-md hidden-lg hidden-xl pages_about_text_block double_column">
      <%= copy_block_three %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-md hidden-lg hidden-xl pages_about_text_block double_column">
      <%= copy_block_four %>
    </div>

  </div>



  <!-- medium size screens and up -->
  <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-sm pages_about_text_block">
    <%= copy_block_one %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-sm pages_about_text_block">
    <%= copy_block_two %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-sm pages_about_text_block">
    <%= copy_block_three %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-sm pages_about_text_block">
    <%= copy_block_four %>
  </div>

</div>


<div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="dotted_hr"></div>
    <h1>What <span class="brand_font">TRAINING REPO</span> <span style="font-family: 'Courier New', Courier, monospace; font-size: 22px; position: relative; bottom: 4px;">[Gen-1 beta]</span> is <em>NOT</em>?</h1>
    <div class="dotted_hr"></div>
    <ul>
      <li><span class="brand_font">TR</span> does not prescribe routines (at least not yet). </li>
      <li><span class="brand_font">TR</span> does not support silly-science, psudo-science or fad-science which purports to have the one and only key to maxmizing training. </li>
      <li><span class="brand_font">TR</span> does not pretend to be your only resource for training. </li>
      <li><span class="brand_font">TR</span> will not change the world. </li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="dotted_hr"></div>
    <br><br>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="demo_video_container">
      <iframe class="demo_video" src="https://www.youtube.com/embed/opewSavP9Vo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        <h3>Your Browser Doesn't Support IFrames</h3>
      </iframe>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <br><br>
    <div class="dotted_hr"></div>
    <br><br>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="demo_video_container">
      <iframe class="demo_video" src="https://www.youtube.com/embed/KX86qjhTg4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        <h3>Your Browser Doesn't Support IFrames</h3>
      </iframe>
    </div>
    <br><br>
  </div>

</div>

<div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="dotted_hr"></div>
    <p style="font-size: 1.25em;font-weight: 300;">You can review our privacy policy at <a href="http://www.trianingrepo.com/your_privacy">http://www.trianingrepo.com/your_privacy</a></p>
    <div class="dotted_hr"></div>
  </div>
</div>

