<!-- <div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1 class="content-page-h1">Training Session Log</h1>
    <div class="dotted_hr"></div>
    <%# @all_my_sessions.each do |session| %>
      <div class="exercise_set_container">
        <%#= link_to session.open == false ? training_session_path(session) : session_sets_path do %>
          <div class="session_history_bullet">
            <%#= image_tag "icons_symbols/tr_arrow_right_a.svg", style: "width: 30px;" %> <%#= session.created_at.to_date %>
            <div style="margin: 0 0 0 35px;">
              <%#= session.session_strategy.name %>
              <%#= "<span class='training_session_index_active_notice'>[active]</span>".html_safe if session.open == true %>
            </div>
          </div>
        <%# end %>
      </div>
    <%# end %>
  </div>
</div> -->

<!-- testing new calander viewer -->
<div class="container">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1 class="content-page-h1">Training Session Log*</h1>
      <em>*click on <%= image_tag "logo_and_branding/tr_check_a.svg", style: "height: 20px; position:relative; bottom: 2px; left: 2px;" %> to see details</em>
      <div class="dotted_hr"></div>
    </div>


  <% @all_my_sessions_month_hash.each do |(month, year), sessions_array|  %>

    <div class="col-xs-12 col-sm-6 col-md-4"> <!-- col-sm-6 col-md-4 -->

      <div class="calendar_contianer">

        <h3><%= "#{Date::MONTHNAMES[month]} #{year}" %></h3>
        <div class="dotted_hr"></div>

        <%= calendar_viewer(sessions_array[0].created_at) do |date| %> <!-- (sessions_array[0].created_at) -->
          <% if @all_my_sessions_date_hash[date.strftime("%F")] %>
            <%= link_to @all_my_sessions_date_hash[date.strftime("%F")],
              class: "link_to_training_session",
              data: {month_year: "#{month}#{year}", sesh_strat: "#{@all_my_sessions_date_hash[date.strftime("%F")][0].session_strategy.name}"} do %>
              <%= image_tag "logo_and_branding/tr_check_a.svg", style: "height: 30px;" %>
            <% end %>
          <% else %>
            <%= date.day %>
          <% end %>

        <% end %>

      </div>
      <div class="training_session_name_display" id="month-<%= "#{month}#{year}" %>">&nbsp;</div>

    </div>
  <% end %>

</div>
