<div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1 class="content-page-h1">Training Session Log*</h1>
    <em>*click on <%= image_tag "logo_and_branding/tr_check_a.svg", style: "height: 20px; position:relative; bottom: 2px; left: 2px;" %> to see details</em>
    <div class="dotted_hr"></div>
  </div>
  <% @all_my_sessions_month_hash.each do |(month, year), sessions_array|  %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calendar_contianer">
        <h3><%= "#{Date::MONTHNAMES[month]} #{year}" %></h3>
        <div class="dotted_hr"></div>

        <%= calendar_viewer(sessions_array[0].created_at) do |date| %>

          <% if @all_my_sessions_date_hash[date.strftime("%F")] %>
            <%= link_to @all_my_sessions_date_hash[date.strftime("%F")][0],
              class: "link_to_training_session",
              data: {month_year: "#{month}#{year}", sesh_strat: "#{@all_my_sessions_date_hash[date.strftime("%F")][0].session_strategy.name}"} do %>
              <%= image_tag "logo_and_branding/tr_check_a.svg", style: "height: 30px;" %>
            <% end %>
          <% else %>
            <%= date.day %>
          <% end %>

        <% end %>
      </div>
      <div class="training_session_name_display" id="month-<%= "#{month}#{year}" %>">&nbsp;</div>
    </div>
  <% end %>
</div>
