<div class="container">
  <div class="col-xs-12">
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1>Training Session <%= @training_session.session_number %> Details</h1>
    <h2><%= @training_session.session_strategy.name %></h2>
    <div class="dotted_hr"></div>

    <div class="back_to_link">
      <%= link_to training_sessions_path do %>
        <%= image_tag "icons_symbols/tr_arrow_left_a.svg", style: "height: 22px; position: relative; bottom: 1px;" %> back to ALL sessions
      <% end %>
    </div>
    <% if @is_active_session %>
      <div class="back_to_link">
          <%= link_to session_sets_path do %>
            <%= image_tag "icons_symbols/tr_arrow_left_a.svg", style: "height: 22px; position: relative; bottom: 1px;" %> back to ACTIVE sessions
          <% end %>
      </div>
    <% end %>

    <div class="training_session_summary_table_container">
      <table class="training_session_summary_table">
        <tr>
          <td class="training_session_summary_key">Date:</td>
          <td class="training_session_summary_value"><%= local_time(@session_date, "%B %-d, %Y" ) %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key">Session Duration:</td>
          <td class="training_session_summary_value"><%= @session_duration %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key">Total Weight Lifted:</td>
          <td class="training_session_summary_value"><%= @total_weight_session %> <%= @units %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key"><%= @units.upcase %> Per Hour Pace:</td>
          <td class="training_session_summary_value"><%= @weight_per_hour %></td>
        </tr>
      </table>
    </div>


    <% @exercise_hash.each do |exercise_resist_additional_array, set_inst_array| %>
      <%
        exercise_name                 = exercise_resist_additional_array[0].name
        resistance_method_name        = exercise_resist_additional_array[1].name
        machine_or_pulley_or_nothing  = exercise_resist_additional_array[2]
      %>
      <div class="exercise_set_marker"></div>

      <div class="exercise_set_container">

        <div class="session_set_index_exercise_name">
          <%= image_tag "icons_symbols/tr_check_a.svg", style: "height: 22px; position: relative; bottom: 1px;" %> <%= "#{proper_string(exercise_name)} // #{proper_string(resistance_method_name)}" %>
          <% if machine_or_pulley_or_nothing %>
            <div class="session_set_index_machine_name">
              <%= image_tag "icons_symbols/tr_spiral_c.svg", style: "height: 18px; position: relative; bottom: 1px;" %><%= "#{machine_or_pulley_or_nothing}" %>
            </div>
          <% end %>
        </div>

          <% set_inst_array.each do |order_set_arr| %>
            <div class="saved_set_data_box" >
              <div class="set_order_marker" onclick="orderMessage();"><%= order_set_arr[0] %></div>
              <div class="set_data_weight">
                <%= "#{order_set_arr[1].weight}" %> <span><%= @units %></span>
              </div>
              <div class="set_data_reps">
                <%= "#{order_set_arr[1].reps}" %> <span>reps</span>
              </div>
            </div>
          <% end %>

          <div class="save_set_data_total_weight">
            <span class="set_data_total_weight_title">
              Total:
            </span>
            <span class="set_data_total_weight_sum">
              <br><%= total_weight_lifted_in_order_sets_array(set_inst_array) %> <%= @units %> <span  onclick="calculationMessage();">ⓘ</span>
            </span>
          </div>

      </div>

    <% end %>



<!--     <div class="total_weight_calculation_reminder">* Remember: The total weight is calculated including bodyweight when applicable and reductions for the mechanical advantage of machines or specific exercises. This produces a more reliable measure of total weight lifted when comparing different workout sessions and resistance methods.</div>-->
  </div>
</div>
