<div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1>Training Session <%= @training_session.session_number %> Details</h1>
    <h3><%= @training_session.session_strategy.name %></h3>
    <hr>
    <!-- <span class="set_order_marker_explained">* order completed</span> -->
    <div class="training_session_summary_table_container">
      <table class="training_session_summary_table">
        <tr>
          <td class="training_session_summary_key">Date:</td>
          <td class="training_session_summary_value"><%= local_time(@session_start_time, "%B %-d, %Y" ) %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key">Elapsed Time:</td>
          <td class="training_session_summary_value"><%= @elapsed_time %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key">Total Weight Lifted:</td>
          <td class="training_session_summary_value"><%= @total_weight_session %> kg</td>
        </tr>
        <tr>
          <td class="training_session_summary_key">Kg Per Hour Pace:</td>
          <td class="training_session_summary_value"><%= @kg_per_hour %></td>
        </tr>
      </table>
    </div>

    <% @session_set_hash.each do |exercise, sets_and_order_array| %>

      <div class="exercise_set_marker" id="set-<%= sets_and_order_array.last[:set].id %>"></div>

      <div class="exercise_set_container">

        <i class="fas fa-check-circle"></i> <%= proper_string(exercise.name) %>

        <ul>
          <% if exercise.machine %>
            <li><%= proper_string(sets_and_order_array[0][:set].machine.name) %> Machine by <%= proper_string(sets_and_order_array[0][:set].machine.brand.name) %></li>
          <% end %>
        </ul>

        <% sets_and_order_array.each do |set_hash| %>
          <div class="saved_set_data_box" >
            <div class="set_order_marker" onclick="orderMessage();"><%= set_hash[:order] %></div>
            <div class="set_data_weight">
              <%= "#{set_hash[:set].weight_kg}" %> <span>kg</span>
            </div>
            <div class="set_data_reps">
              <%= "#{set_hash[:set].reps}" %> <span>reps</span>
            </div>
          </div>
        <% end %>

        <div class="save_set_data_total_weight">
          <span class="set_data_total_weight_title">
            Total:
          </span>
          <span class="set_data_total_weight_sum">
            <%= (total_weight_calculator_show_session(exercise, sets_and_order_array) / mechanical_deductions(sets_and_order_array[0][:set])).round %> kg *<br>
          </span>
        </div>
      </div>
    <% end %>


    <div class="total_weight_calculation_reminder">* Remember: The total weight is calculated including bodyweight when applicable and reductions for the mechanical advantage of machines. This produces a more reliable measure of total weight lifted when comparing different workout sessions.</div>
  </div>
</div>
