<div class="container">
  <div class="col-xs-12">
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1>Training Session <%= @training_session.session_number %> Details</h1>
    <h2><%= @training_session.session_strategy.name %></h2>
    <div class="dotted_hr"></div>

    <div class="back_to_link">
      <%= link_to training_sessions_path do %>
        <%= image_tag "icons_symbols/tr_arrow_left_a.svg", style: "height: 22px; position: relative; bottom: 1px;" %> back to ALL sessions
      <% end %>
    </div>
    <% if @is_active_session %>
      <div class="back_to_link">
          <%= link_to session_sets_path do %>
            <%= image_tag "icons_symbols/tr_arrow_left_a.svg", style: "height: 22px; position: relative; bottom: 1px;" %> back to ACTIVE sessions
          <% end %>
      </div>
    <% end %>

    <div class="training_session_summary_table_container">
      <table class="training_session_summary_table">
        <tr>
          <td class="training_session_summary_key">Date:</td>
          <td class="training_session_summary_value"><%= local_time(@session_start_time, "%B %-d, %Y" ) %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key">Elapsed Time:</td>
          <td class="training_session_summary_value"><%= @elapsed_time %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key">Total Weight Lifted:</td>
          <td class="training_session_summary_value"><%= @total_weight_session %> <%= @units %></td>
        </tr>
        <tr>
          <td class="training_session_summary_key"><%= @units.upcase %> Per Hour Pace:</td>
          <td class="training_session_summary_value"><%= @weight_per_hour %></td>
        </tr>
      </table>
    </div>

    <% @session_set_hash.each do |exercise, machine_pulley_sets_order_hash| %>

      <div class="exercise_set_marker"></div>

      <div class="exercise_set_container">

        <div class="session_set_index_exercise_name">
          <%= image_tag "icons_symbols/tr_check_a.svg", style: "height: 22px; position: relative; bottom: 1px;" %> <%= proper_string(exercise.name) %>
        </div>

          <% machine_pulley_sets_order_hash.each do |machine_pulley_inst, order_set_arrays| %>

            <% if pulley_check(exercise) %>

              <div class="session_set_index_machine_name">
                <%= image_tag "icons_symbols/tr_spiral_c.svg", style: "height: 18px; position: relative; bottom: 1px;" %><%= "#{machine_pulley_inst} Pulley#{'s' if machine_pulley_inst > 1}" %>
              </div>

            <% elsif (!machine_pulley_inst.is_a? Integer) %>

              <div class="session_set_index_machine_name">
                <%= image_tag "icons_symbols/tr_spiral_c.svg", style: "height: 18px; position: relative; bottom: 1px;" %><%= proper_string(machine_pulley_inst.name) %> :: <%= proper_string(machine_pulley_inst.brand.name) %>
              </div>

            <% end %>

            <% order_set_arrays.each do |order_set_array| %>
              <div class="saved_set_data_box" >
                <div class="set_order_marker" onclick="orderMessage();"><%= order_set_array[0] %></div>
                <div class="set_data_weight">
                  <%= "#{order_set_array[1].weight}" %> <span><%= @units %></span>
                </div>
                <div class="set_data_reps">
                  <%= "#{order_set_array[1].reps}" %> <span>reps</span>
                </div>
              </div>
            <% end %>

          <% end %>

          <div class="save_set_data_total_weight">
            <span class="set_data_total_weight_title">
              Total:
            </span>
            <span class="set_data_total_weight_sum">
              <br><%= total_weight_calculator_show_session(exercise, machine_pulley_sets_order_hash) %> kg *
            </span>
          </div>

      </div>

    <% end %>


    <div class="total_weight_calculation_reminder">* Remember: The total weight is calculated including bodyweight when applicable and reductions for the mechanical advantage of machines. This produces a more reliable measure of total weight lifted when comparing different workout sessions.</div>
  </div>
</div>
